.ui-widget {
    font-size: 12px !important;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}
.ui-button {
    margin-top: 10px !important;
}
.fondo {
    background-image: url("../imagenes/Sfondo_no_logo.jpg");
    height: 100%;
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
}